virtual_machine:
  cloud_provider:
    - gcp
  actions:
    - ALL
  regions:
    - gcp:
        - us-west1-b
  instance_type:
    - gcp:
        - n1-standard-1
  allowed_images:
    - gcp:
        - debian-10-buster-v20240110
attached_authorizations:
  - gcp:
      - authorization:
          - v41d13d7b6dccae96@sky-identity.iam.gserviceaccount.com
