serverless-gcp-skydentity/certs/CA_dir/*
serverless-gcp-skydentity/certs/domain_dir/*
serverless-gcp-skydentity/certs/configs/domain.ext
serverless-gcp-skydentity/certs/configs/domain.cnf
serverless-gcp-skydentity/skyid/*
serverless-gcp-skydentity/gcloud/*
serverless-gcp-skydentity/__pycache__/*
serverless-gcp-skydentity/skyid/lib/**__pycache__**
.python_packages
gcp-env
skyid
**.vscode
**.egg-info
__pycache__

tokens
local_tokens

# log files
*.log
