serverless-gcp-skydentity/certs/CA_dir/*
serverless-gcp-skydentity/certs/domain_dir/*
serverless-gcp-skydentity/certs/configs/domain.ext
serverless-gcp-skydentity/certs/configs/domain.cnf
serverless-gcp-skydentity/skyid/*
serverless-gcp-skydentity/gcloud/*
serverless-gcp-skydentity/__pycache__/*
serverless-gcp-skydentity/skyid/lib/**__pycache__**

# logs and plots
examples/skypilot/logs/*
examples/skypilot/plots/*
examples/skypilot/*.pdf
examples/heavy_load/logs/*
examples/heavy_load/plots/*
examples/aether/aether-plots/*
examples/aether/logs/*

# certificates
**/certs/**/*.key
**/certs/**/*.crt
**/certs/**/*.csr
**/certs/*root-ca*

.python_packages
gcp-env
.venv/*
skyid
**.vscode
**.egg-info
*.tar.gz
*.whl
__pycache__
.DS_Store

tokens
local_tokens

# log files
*.log
