# Proxy
virtualenv
Flask
requests
setuptools
build
gunicorn
pyyaml
pycryptodome
backoff
# Azure
azure-mgmt-resource 
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-msi
azure-mgmt-authorization
azure-mgmt-subscription
azure-identity
azure-cosmos
# GCP
google-cloud-compute
google-cloud-logging
firebase-admin
